APScheduler==3.6.3
beautifulsoup4==4.9.3
certifi==2022.12.7
chardet==3.0.4
geographiclib==1.50
geopy==2.0.0
lxml==4.9.1
python-decouple==3.3
pytz==2020.1
requests==2.31.0
soupsieve==2.0.1
tzlocal==2.1
urllib3==1.26.5
